<p-dataTable [value]="odata" selectionMode="single" [(selection)]="selectedItem" (onRowSelect)="onRowSelect($event)" [paginator]="true"
    rows="15" [responsive]="true">

    <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" styleClass="data-table-cell">

            <ng-template let-item="rowData" pTemplate="body">
                {{col.type == 'date' ? (item[col.field] | date) : item[col.field] }}
            </ng-template>

    </p-column>

    <p-footer>
        <div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Agregar"></button></div>
    </p-footer>
</p-dataTable>

<p-dialog header="Detalle" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="500">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="item">

        <div class="ui-grid-row" *ngFor="let col of cols">
            <div class="ui-grid-col-6"><label for="col">{{col.field}}</label></div>

            <div class="ui-grid-col-6">

                <div *ngIf="(col.type == 'date'); else elseBlock">

                    <p-calendar [(ngModel)]="item[col.field]" dateFormat="dd/mm/yy" appendTo="body">{{item[col.field]|date}}</p-calendar>

                </div>

                <ng-template #elseBlock>
                    <input pInputText id="col" [(ngModel)]="item[col.field]" [(readonly)]="col.field == options.id" />
                </ng-template>

            </div>

        </div>

    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>