<nav class="navbar navbar-default">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Home</a>
    <a class="navbar-brand" routerLink="proyectos">1. Proyectos</a>
    <a class="navbar-brand" routerLink="plantillas">2. Plantillas</a>
    <a class="navbar-brand" routerLink="configuracion-notificaciones">3. Configuracion Notificaciones</a>
    <a class="navbar-brand" routerLink="mapa-plantillas">4. Mapa Plantillas</a>
    <a class="navbar-brand" routerLink="notificaciones">5. Notificaciones</a>
  </div>
</nav>