<h1>App Notificaciones</h1>

<app-proyectos></app-proyectos>

<app-plantillas></app-plantillas>

<app-configuracion-notificaciones></app-configuracion-notificaciones>

<app-mapa-plantillas></app-mapa-plantillas>

<app-notificaciones></app-notificaciones>